/* body{
  font-family: 'Work Sans', sans-serif;
  
}

.slot{
  border: none;
  line-height: 14.08px;
  font-size: 12px;
  font-weight:400;
  background-color:#3CB950;
  border-radius: 8px;
} */

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --Foundation-Accent-accent-5: #3070F1;
}



.bg-custom-gray {
  background-color: #f5f5f5;
}

/* Add your CSS styles here */
.max-w-md {
  max-width: 28rem;
}

.bg-accent-5 {
  background-color: #0244CA;
}

.cursor-pointer {
  cursor: pointer;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
}

.session {
  width: 100%;
  height: 55px;
  padding: 16px;
  gap: 0px;
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3070f1;
  color: white;
}

.session p {
  margin-left: 22px;
  width: 304px;
  height: 24px;
  gap: 0px;
    
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
}

.session img {
  height: 38px;
}

.address {
  width: 100%;
  height: 70px;
  padding: 16px 32px 16px 32px;
  border-radius: 0px 0px 16px 16px;
    
  background-color: #0244ca;
  color: white;
}

.address div {
  width: 329px;
  height: 51px;
  gap: 8px;
    
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.address div i {
  width: 16px;
  padding: 4px;
  gap: 10px;
    
  font-size: 14px;
}

.address span {
  width: 305px;
  height: 51px;
}

.address span h4 {
  letter-spacing: 1px;
  font-size: 13px;
}

.address span p {
  height: 28px;
  padding: 0px 16px 0px 0px;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.08px;
  text-align: left;
  margin-top: 4px;
}

.data {
  width: 100%;
  padding: 16px 32px 16px 32px;
  gap: 16px;
    
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data .details {
  width: 100%;
  height: 214px;
  padding: 8px 0px 8px 0px;
  gap: 16px;
  border-radius: 16px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

.data .details .end {
  align-self: end;
  margin-right: 8px;
  background-color: #ec524a;
  padding: 2px 4px 2px 6px;
  border-radius: 16px;
  color: white;
}

.data .details .end h4 {
  width: 104px;
  height: 16px;
  gap: 0px;
    
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
}

.data .details .complete {
  align-self: end;
  background-color: #3be155;
  padding: 1px 6px 2px 6px;
  margin-right: 10px;
  border-radius: 16px;
  color: white;
}

.data .details .complete h4 {
  /* width: 124px; */
  /* height: 16px; */    
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.data .details img {
  width: 290px;
  height: 114px;
  padding: 0px 8px 1px 8px;
  gap: 0px;
    
  margin-right: 18px;
}

.details .time-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 329px;
  height: 32px;
  padding: 0px 46px 0px 16px;
  gap: 8px;
    

}

.time-section div {
  display: flex;
}

.time-section div i {
  color: #c1c1c2;
  font-size: 10px;
}

.time-section div span {
  margin-left: 6px;
}

.time-section div span .text {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  color: #8a93a6;
}

.time-section div span .time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #6b6c6e;
  margin-top: 4px;
}

.data .used {
  width: 100%;
  margin-top: 15px;
  height: 30px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.used .usage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 2px;
  border-radius: 16px;
  background-color: #F5F5F5;
}

.used .usage h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-right: 15px;
  color: #5D5E60;
}

.used .usage p {
  font-size: 10px;
  color: #8a93a6;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
  margin-right: 16px;
}

.used .fees {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 2px;
  border-radius: 16px;
    
  background-color: #F5F5F5;
}

.used .fees h3 {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #5D5E60;
}

.used .fees p {
  font-size: 10px;
  color: #8a93a6;
  font-weight: 400;
  line-height: 11.73px;
  text-align: left;
}

.add {
  width: 100%;;
  margin-top: 16px;
  margin-bottom: 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add .charge {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  padding: 16px 0;
  border-radius: 16px;
  gap: 4px;
    
  background-color: #F5F5F5;
}

.data .add .charge img {
  height: 70px;
}

.data .add .charge h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.11px;
  text-align: left;
}

.data .add .charge p {
  color: white;
  width: 90px;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  padding: 2px 4px 2px 4px;
  gap: 2px;
  border-radius: 8px;
    
  background-color: #3CB950;
}

.data .add .extra {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.data .add .extra span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 67px;
  padding: 16px;
  gap: 2px;
  border-radius: 16px;
    
  width: 100%;
  background-color: #f5f5f5;
}

.data .add .extra span h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #5D5E60;
}

.data .add .extra span p {
  font-size: 10px;
  font-weight: 400;
  line-height: 11.73px;
  text-align: left;
  color: #8a93a6;
}

.data .add .batterypercent {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 16px;
}


.data .add .batterypercent img {
  height: 120px;
}

.data .endbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #F5F5F5;
}
.data .endbtn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #ec524a;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: center;
}

.data .parking {
  width: 329px;
  margin-top: 15px;
  height: 30px;
    
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parking .remain {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 156px;
  padding: 16px;
  gap: 2px;
  border-radius: 16px;
  background-color: #F5F5F5;
}

.parking .remain h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-right: 15px;
}

.parking .remain p {
  font-size: 10px;
  color: #8a93a6;
  font-weight: 400;
  line-height: 11.73px;
  text-align: left;
  margin-right: 16px;
}

.parking .park-fee {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 156px;
  padding: 16px;
  gap: 2px;
  border-radius: 16px;
    
  background-color: #F5F5F5;
}

.parking .park-fee h3 {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: #5D5E60;
}

.parking .park-fee p {
  font-size: 10px;
  color: #8a93a6;
  font-weight: 400;
  line-height: 11px;
  text-align: left;
}

.popup {
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.559);
  color: black;
}
.popup-box {
  padding: 32px;
  background: white;
  position: fixed;
  bottom: 0;
}

.popup p{
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.popup span {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup span button {
  display: flex;
  width: 50%;
  height: 43px;
  padding: 12px 16px 12px 16px;
  gap: 4px;
  border-radius: 4px;
  color: black;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

.popup span button:first-child{
  background-color: #ec524a;
  color: white;
}

.finish {
  background: #fff;
  color: black;
  width: 100%;
  border-top: 1px solid #8a93a6;
  height: 80px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finish p {
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}



