@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* height: 105vh; */
  overflow: auto;
  overflow-y: auto !important;
}

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.padding2 {
    padding: 2px 4px;
}
.padding3 {
    padding: 2px 6px;
}

.padding-big {
    padding: 12px 32px;
}
.padding-set-6 {
    padding: 6px 16px;
}

.padding-big2 {
    padding: 16px 32px;
}
.margin-big2 {
    margin: 16px 32px;
}

.bg-green {
    background-color: #3CB950;
}

.bg-darkBlue {
    background-color: #0139A9;
}

.bg-lightBlue {
    background-color: #0250EE;
}

.bg-blue {
    background-color: #0244CA;
}

.bg-blue2 {
    background-color: #3070F1;
}
.bg-base {
    background-color: #F5F5F5;
}
.bg-base2 {
    background-color: #F0F0F0;
}


.text-gray {
    color: #5D5E60;
}


.box-shadow {
    box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.1);

}



.headertop {
    background-color: #3070F1;
    width: 100%;
    height: 64px;
    color: #FFFFFF;
    padding: 16px;
  
  }
  
  .header-div1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
  
  }
  
  .header-div1-h1 {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
  }
  
  .header-div1 img {
    width: 30px;
    height: 24px;
  
  }
  
  .header-2 {
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    background-color: rgba(2, 68, 202, 1);
    height: 83px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    color: rgba(255, 255, 255, 1);
  
  }
  
  .header2-text {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
  
  }
  
  .header2-text2 {
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    width: 104%;
    color: rgba(255, 255, 255, 1);
  
  }
  
  .header2-text2-1 {
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    width: 104%;
    color: rgba(255, 255, 255, 1);
    padding: 2px;
  }
  
  .header2-textp {
    text-align: center;
  
  }
  
  .header-logo {
    padding-top: 3px;
  }

  .scroll-stope {
    position: fixed;
  }

